html{
    font-family: 'Playfair Display', serif;

}
body {
	
	margin: 0;
    
   
}

nav {

}

.navbar{

}


header h1 {
	/* display: flex;
	flex-wrap: nowrap; */
    background-color:#FFF6E5;
    text-align: center;
    height: 100px;
    font-size: 50pt;
    overflow: hidden;
    font-family: 'Shadows Into Light', cursive;
    
	
}
.logo{

    justify-content: flex-start;
}

aside{
    background-color: #FFE5DB;
    width: 30%;
    padding: 20px;
    margin: 20px;
    float: right;
    
    overflow: scroll;
    max-height: 400px;
    
    

}

h2{
    text-decoration: underline;
}

 aside .entry{
    border: solid 2px black;
}
form{
    margin: 20px;
    padding: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color:  #D6EFE3;
}

footer{
    /* display:flex;
    justify-content: space-between; */
    background-color:#FFF6E5 ;
    margin-bottom: 0;
    

}

.name{
    text-align: left;
    
    
}

.copy{
    text-align: right;
    
}




form .date{
    justify-content: flex-start;
}

form .topic{
    justify-content: flex-end;
}

.entry{

}
.bottom{
    display:flex;
    justify-content: space-evenly;
}
.mood{
   
}

.submit{
    text-align: center;
    
}

/* .buttons{
    display:flex;
    justify-content: space-between;
} */